body{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
.heading_div{
    background-color: azure;
    color: black;
}
 .heading_div p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
 }
 .main_div button{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
 }

 .copy_right_footer{
   position:fixed;
   color: black ; 
   bottom:0px;
   width: 100%;
   font-size:18px ;
   background-color: beige;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px gray;
 }
